<!-- <p>clienthome works!</p> -->

<div class="bank-logo">
  <h1>Secure Link Bank</h1>
</div>


<div class="main">
  <div class="item">
    <div class="icon-label">
      <h5>Online Deposite</h5>
      <span>We are Providing facility for Online Deposite amount.</span>
    </div>
  </div>
  <div class="item">
    <div class="icon-label">
      <h5>Online Transfer Amount</h5>
      <span>We are Providing Online Transfer amount facility</span>
    </div>
  </div>
  <div class="item">
    <div class="icon-label">
      <h5>Transaction History</h5>
      <span>You can download and check history any time 24*7</span>
    </div>
  </div>
</div>






