<!-- <p>clientbalance works!</p> -->

  <div class="main">
    <div>
      <div class="profile-form">
        <div> <!-- Add a div for the profile bar -->
          <h1>Account Balance</h1>
        </div>
    
        <div class="tablediv">
          <table border="1" style="table-layout:fixed;">
    
            <tr>
              <td><b>AccountNumber</b></td>
              <td>{{ accountNum }}</td>
            </tr>
            <tr>
              <td><b>Balance</b></td>
              <td>{{ amount }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>