<!-- <p>app-home works!</p> -->

<div class="nameheader">
    <h1>Welcome to Secure link Bank</h1>
    <!-- <h3>Taking banking Technology to common man</h3> -->
    <h4>"Secure transactions, limitless possibilities"</h4>
</div>
<div class="main">
    <div class="product-info">
        <div class="boxes">
            <div class="product-box" (click)="openPage('./login')">
                <div>
                    <mat-icon>move_up</mat-icon>
                </div>
                <h5>Online Transfer Amount</h5>
            </div>
            <div class="product-box" (click)="openPage('./login')">
                <div>
                    <mat-icon>call</mat-icon>
                </div>
                <h5>Transaction History</h5>
            </div>
            <div class="product-box" (click)="openPage('./login')">
                <div>
                    <mat-icon>currency_rupee</mat-icon>
                </div>
                <h5>Online Deposite</h5>
            </div>
        </div>
    </div>
   
</div>
